body {
  margin: 0;
  font-family: 'Tiro Devanagari Sanskrit', serif, -apple-system,
    BlinkMacSystemFont;
  font-size: 0.85rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.color-grey1 {
  color: #b4b4b4;
}

.page-container {
  padding: 0.5rem 1rem 1rem 1rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.full-screen {
  height: 100vh;
}

.bg-yellow {
  background-color: #ffd007;
}

.d-none {
  display: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  margin: auto;
  margin-top: -0.25rem;
  margin-bottom: 1rem;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.on-profile {
  align-items: start;
}

header button {
  border: none;
  background-color: #ffffff;
  color: #b4b4b4;
}

header a {
  color: #b4b4b4;
}

.header-link-profile {
  text-align: center;
}

header.on-profile a.header-link-profile {
  font-size: 2rem;
}

.header-icons.primary {
  font-size: 3rem;
}

header.on-profile a.header-link-profile .header-icons.primary {
  font-size: 7rem;
}

.header-icons.secondary {
  font-size: 2rem;
  width: 100%;
}

.auth-page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.auth-logo {
  height: 8rem;
  margin: 1rem auto auto auto;
}

.auth-form input {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  width: 92%;
  padding: 1em;
  line-height: 1.4;
  background-color: #ffffff;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  margin-bottom: 0.5rem;
}

.auth-form input:focus {
  outline: 0;
  border-bottom: solid #ffd007;
}

.auth-page.login input {
  background-color: #fffbe8;
}

.auth-page.login input:focus {
  border-bottom: solid #000000;
}

form button {
  border: none;
  width: 100%;
  font-weight: bold;
  padding: 0.75rem;
  color: #686868;
  background-color: #ffd007;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
}

.form-control.ingredient {
  padding-left: 1rem;
  width: 91%;
}

.form-control label {
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.form-control input {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  padding: 1em;
  background-color: #e5e5e5;
  border: none;
}

.form-control input::placeholder {
  font-family: 'Tiro Devanagari Sanskrit', serif;
}

.form-control input:focus {
  border: 1px #ffd007;
}

.form-control textarea {
  padding: 1em;
  background-color: #e5e5e5;
  border: none;
  height: 6rem;
}

.form-control select {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  border: 1px solid #e5e5e5;
  padding: 0.65rem;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  color: #6e6e6e;
  background-color: #e5e5e5;
}

.form-control select option {
  padding-left: 0.75rem;
  height: 1.5rem;
  color: #686868;
}

.form-control select option:checked {
  height: 2.5rem;
  background-color: #e5e5e5;
}

.add-ingredients-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #94c53b;
  color: #ffffff;
  margin: 0.5rem 1rem;
  height: 6rem;
}

.add-ingredients-button p {
  font-family: Oswald, sans-serif;
  letter-spacing: 0.075rem;
  margin: 0.5rem;
  padding: 0;
  font-size: 0.9rem;
}

.add-ingredients-button em {
  font-size: 1.1rem;
}

a .auth-redirect-button {
  border: none;
  width: 100%;
  padding: 0.75rem;
  color: #e5e5e5;
  background-color: #686868;
}

.auth-page.login form button {
  color: #e5e5e5;
  background-color: #000000;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-page h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.02rem;
  margin-bottom: 0.25rem;
}

.profile-page p {
  margin-top: 0.25rem;
}

.btn-profile {
  width: 80%;
  margin: 0.2rem;
}
.btn-profile.bg-yellow button {
  color: #383838;
  background-color: #ffd007;
}

.btn-disconnect {
  border: none;
  padding: 0.75rem;
  color: #dfdfdf;
  background-color: #000000d5;
}

.card-index {
  display: flex;
  justify-content: space-between;
  padding: 0.05rem 1rem;
  margin: 0.2rem 0;
  color: #000000;
  background-color: #e5e5e5;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.ingredients-label {
  margin-top: 0.5rem;
}

.dish-show-ingredients-h3 {
  font-size: 0.9rem;
  background-color: #ffd007;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
}

.dish-show-ingredients-h3 svg {
  margin: 0.65rem;
  font-size: 1.5rem;
}

.dish-show-ingredients-ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  list-style: none;
}

.dish-show-ingredients-li {
  padding: 0.75rem;
  padding-left: 1.75rem;
  background-color: #e5e5e5;
}

.dish-show-page h3 {
  margin: 0.65rem;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.03rem;
}

.dish-show-recipe {
  font-size: 1.1rem;
}

.dish-show-recipe p {
  color: #6e6e6e;
  padding: 0 0.6rem;
}

.delete-link {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #cc2e2e;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
}

.fixed-action-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fixed-action-button a button {
  height: 2.75rem;
  width: 100%;
  border: none;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.fixed-action-button a.add-btn button {
  color: #e4e4e4;
  background-color: #2aad68;
}

.flex-column h1 {
  text-align: center;
}

.dish-edit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space-behind-fixed-button {
  height: 8rem;
}

.action-role-description {
  font-weight: 400;
  font-size: 0.9rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffd007;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
