body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oswald',
    'Tiro Devanagari Sanskrit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 1rem;
  height: 85vh;
  border: 1px solid;
}

.d-none {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: none;
  background-color: #ffffff;
  color: #b4b4b4;
}

header a {
  color: #b4b4b4;
  text-decoration: none;
}

.header-link-profile {
  text-align: center;
}

.header-icons.primary {
  font-size: 3rem;
}

.header-icons.secondary {
  font-size: 2rem;
}
