body {
  margin: 0;
  font-family: 'Tiro Devanagari Sanskrit', serif, -apple-system,
    BlinkMacSystemFont;
  font-size: 0.85rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 1rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  margin: auto;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: none;
  background-color: #ffffff;
  color: #b4b4b4;
}

header a {
  color: #b4b4b4;
  text-decoration: none;
}

.header-link-profile {
  text-align: center;
}

.header-icons.primary {
  font-size: 3rem;
}

.header-icons.secondary {
  font-size: 2rem;
  width: 100%;
}

.auth-page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.auth-logo {
  height: 8rem;
  margin: 1rem auto auto auto;
}

input {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  width: 90%;
  padding: 1em;
  line-height: 1.4;
  background-color: #ffffff;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 0;
  border-bottom: solid #ffd007;
}
input:focus + .input-icon i {
  color: #ffd007;
}
input:focus + .input-icon:after {
  border-right-color: #ffd007;
}

form button {
  border: none;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.75rem;
  color: #686868;
  background-color: #ffd007;
}
